<% if current_user.username == @user_to_show.username %>
  <button class="btn pull-right">
    <%= link_to "Change my password", edit_user_path(current_user.username) %>
  </button>
<% end %>

<h1>
  <%= @user_to_show.username %>
</h1>

(<%= @user_to_show.email %>)
<br><br>
Member since <%= @user_to_show.created_at.strftime("%b %d, %Y") %>